.body {
  display: grid;
  grid-template-columns: auto 1fr;
}

.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container h1 {
  margin-bottom: 64px;
  color: #2E384D;
}

.container .title {
  display: grid;
  grid-template-columns: auto 500px 150px 150px ;
}

.container .title p {
  color: #666666;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.container .title :nth-child(2) {
  margin-left: 18px;
}

.container section {
  display: grid;
  margin-top: 12px;
  grid-template-columns: auto 500px 150px 150px ;
}


.container section div .position {
  height: 88px;
  width: 68px;
  border-radius: 5px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

/* .container section div p {
  color: #666666;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom:  12px;
} */

/* .container section div:nth-child(2) p:first-child{
  margin-left: 18px;
} */

.container section .position img {
  position: absolute;
}
.container section .position  {
  font-size: 22px;
  font-weight: 600;
}

.container section div .userContainer {
  height: 88px;
  border-radius: 5px;
  background: #ffffff linear-gradient(90deg, #FFD600 0%, rgba(249, 237, 133, 0) 85%);
}

.container section div .challenge {
  background: #ffffff;
  height: 88px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.container section div .challenge.experience {
  border-radius: 0 5px 5px 0;
}

.container section div .userContainer {
  display: flex;
  align-items: center;
}

.container section div .userContainer > img {
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
  margin-left: 18px;
}

.container section div .userContainer div {
  margin-left: 1.5rem;
}

.container section div .userContainer div strong {
  font-size:  1.125rem;
  font-weight: 600;
  color: var(--title);
  align-self: center;
  /* margin-top: 10px; */
  display: flex;
  justify-self: center;
}

.container section div .userContainer div p {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  margin-bottom: 0;

}

.container section div .userContainer div p img {
  margin-right: 0.5rem;
}
